.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282C34;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

.title {
  font-size: 50px;
}

.player-select {
  display: block;
  font-size: 30px;
  margin: 10px;
}

.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;

}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  display: grid;
  background-color: rgb(196, 231, 83);
  place-items: center;
  font-size: 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif
}

.button {
  border: 5px solid White;
  margin: 10px;
  padding: 10px;
}

.reset {
  display: flex;
  justify-content: center;
  margin-left: 165px;
  margin-right: 165px;

  border: 5px solid White;
}



